VITE_AWS_REGION=ap-south-1
VITE_COGNITO_USER_POOL_ID=ap-south-1_XXXXXXXX
VITE_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxx
VITE_COGNITO_DOMAIN=https://mrf-auth-dev-ACCOUNTID.auth.ap-south-1.amazoncognito.com
VITE_API_BASE_URL=https://xxxxxxxxxx.execute-api.ap-south-1.amazonaws.com/dev
VITE_MANTINE_LICENSE_KEY=1_XXXXXXXX_@@32
